# Este archivo evita que archivos locales innecesarios o sensibles
# se envíen al contexto de build de Docker, haciendo el proceso
# más rápido y seguro.

# Ignorar dependencias locales
node_modules

# Ignorar archivos de entorno y secretos
.env

# Ignorar metadatos de Git
.git
.gitignore